@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #5f72ff, #9b5cff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', system-ui, sans-serif;
}
